.icon {
	width: 48px;
	height: 48px;
	background-color: hsl(240, 2%, 20%);
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: hsl(240, 2%, 30%);
	}
}

.button__primary {
	align-self: center;
	background: hsl(209, 100%, 59%);
	border-radius: 14px;
	border: 1px solid hsl(220, 4%, 13%);
	box-shadow: 0px 4px 16px rgba(0, 129, 255, 0.25);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	font-family: "Nunito", sans-serif;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 600;
	height: 48px;
	line-height: 1.25rem;
	text-align: center;
}

.button__secondary {
	align-self: center;
	background: hsl(240, 2%, 20%);
	border-radius: 14px;
	border: 1px solid hsl(220, 4%, 13%);
	box-shadow: 0px 4px 16px rgba(0, 129, 255, 0.25);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	font-family: "Nunito", sans-serif;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 600;
	height: 48px;
	line-height: 1.25rem;
	text-align: center;
}

.button__delete {
	align-self: center;
	background: hsl(12, 100%, 63%);
	border-radius: 14px;
	border: 1px solid hsl(220, 4%, 13%);
	box-shadow: 0px 4px 16px rgba(255, 102, 64, 0.18);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	font-family: "Nunito", sans-serif;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 600;
	height: 48px;
	line-height: 1.25rem;
	text-align: center;
}

.button__extraSmall {
	height: 40px;
	width: 94px;
}

.button__small {
	height: 48px;
	width: 158px;
}

.button__medium {
	height: 48px;
	width: 548px;
}

.button__large {
	height: 48px;
	width: 548px;
}

.toggleView {
	max-width: 104px;
	max-height: 48px;
	background: #313133;
	border-radius: 14px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	.active {
		width: 48px;
		height: 40px;
		background: linear-gradient(180deg, #46464a 83.86%, #38383b 100%);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.04);
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		img {
			filter: brightness(0) saturate(100%) invert(52%) sepia(22%)
				saturate(4882%) hue-rotate(188deg) brightness(100%) contrast(102%);
		}
	}
	.inactive {
		width: 48px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.modal {
	position: absolute;
	z-index: 100;
	width: 99.7vw;
	height: 99.4vh;
	top: -100px;
	left: -88px;
	background: hsla(240, 5%, 9%, 0.7);
}

.header {
	display: flex;
	justify-content: space-between;
	h2 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 44px;
		display: flex;
		align-items: center;
		color: #ffffff;
		margin: 32px 0;
	}
	.actions {
		display: flex;
		gap: 16px;
		margin: 30px;
	}
}

.page {
	background-color: #151517;
	padding: 0 30px 30px;
	max-width: 94vw;
	overflow: auto;
	max-height: calc(100vh - 80px);
	position: relative;
	overflow: auto;
}
