.bodyGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.contactCard {
	display: flex;
	background: #202123;
	box-shadow: 0px 20px 30px -18px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 24px;
	height: 144px;
	margin: 0 30px 16px 0;
	&__main {
		margin-left: 16px;
		width: 100%;
		.header {
			display: flex;
			justify-content: space-between;
			&__contact {
				display: flex;
				flex-direction: column;
				.name {
					font-family: "Nunito";
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 25px;
					color: #ffffff;
					margin-bottom: 6px;
				}
				.title {
					padding: 7px 14px;
					width: 125px;
					height: 30px;
					display: flex;
					background: #38383b;
					border-radius: 8px;
					justify-content: center;
					p {
						align-self: center;
						color: #ffffff;
						font-family: "Nunito";
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;
					}
				}
			}
			.iconGroup {
				display: flex;
			}
		}
		hr {
			margin: 16px 0 15px;
			border: 1px solid #2f2f30;
		}
		.footer {
			display: flex;
		}
	}
}

.contactGrid {
	width: 265px;
	height: 460px;
	background: #202123;
	box-shadow: 0px 20px 30px -18px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 19px 24px 28px;
	img:first-child {
		cursor: pointer;
		margin-left: auto;
	}
	.name {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 33px;
		text-align: center;
		color: #ffffff;
		margin-top: 16px;
	}
	.title {
		margin: 10px 0 10px;
		padding: 7px 14px;
		width: 135px;
		height: 30px;
		display: flex;
		background: hsl(240, 3%, 23%);
		border-radius: 8px;
		justify-content: center;
		p {
			align-self: center;
			color: hsl(0, 0%, 100%);
			font-family: "Nunito";
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
		}
	}
	.details {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		color: hsl(0, 0%, 91%);
		margin-top: 18px;
	}
	.message {
		align-items: center;
		background-color: hsl(240, 3%, 23%);
		border-radius: 8px;
		cursor: pointer;
		display: flex;
		height: 48px;
		justify-content: center;
		margin-top: 24px;
		padding: 7px 14px;
		transition: background-color 0.2s ease-in-out;
		width: 210px;
		p {
			color: hsl(0, 0%, 100%);
			font-family: "Nunito";
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
		}
		&:hover {
			background-color: hsl(240, 3%, 33%);
		}
	}
}

.contactDetail {
	display: flex;
	max-width: 157px;
	height: 44px;
	margin-right: 66px;
	.container {
		display: flex;
		flex-direction: column;
		height: 44px;
		margin-left: 14px;
		.title {
			font-family: "Nunito";
			font-style: normal;
			font-weight: 700;
			font-size: 13px;
			line-height: 18px;
			text-transform: uppercase;
			color: #9e9e9e;
			margin-bottom: 5px;
		}
		.details {
			font-family: "Nunito";
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 20px;
			color: #e8e8e8;
		}
	}
}
