.navBar {
	max-width: 6vw;
	height: 100vh;
	background-color: hsl(240, 5%, 9%);
	border-right: 1px solid hsl(240, 1%, 14%);
	display: flex;
	flex-direction: column;
	align-items: center;
	.logo {
		margin: 21px 26px 22px 27px;
	}
	.active {
		background-color: hsla(210, 100%, 50%, 0.5);
		border-radius: 16px;
		// filter: brightness(0) saturate(0%) invert(45%) sepia(42%) saturate(1434%)
		// 	hue-rotate(181deg) brightness(106%) contrast(101%);
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 560px;
		width: 56px;
		img {
			cursor: pointer;
			padding: 17px;
			transition: background-color 0.2s ease-in-out;
			border-radius: 16px;
			&:hover {
				background-color: hsla(210, 100%, 75%, 0.12);
			}
		}
	}
	.calendar {
		border-top: 1px solid #232324;
		height: 170px;
		width: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 24px 0 0;
		margin-top: 16px;
		&__item {
			border-radius: 50%;
			height: 12px;
			width: 12px;
			cursor: pointer;
		}
	}
}
